<div class="home">
    <div class="container">
    <div class="row">
       <div class="col-sm-3">
          <div class="logged-in-box auth0-box logged-in">
            <img class="avatar" src="<%= @user.image %>"/>
            <h2>Welcome <%= @user.name %></h2>
          </div>
    </div>
</div>
