<html>
    <head>
      <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h3>
          Hi, <%= @user.name %>
        </h3>
        <p>
          Device <%= @device.name %> is available on room <%= @room.name %>, you can get it.
        <p>
    </body>
</html>
