<% content_for :cdn_code do %>
  <%= javascript_include_tag '//cdn.auth0.com/js/lock-7.0.min.js' %>
<% end %>
<div class="home">
    <div class="container">
        <div class="login-page clearfix text-center">
          <h1>[ TRAKING DEVICES SYSTEM ]</h1>
          <div class="login-box auth0-box before row">            
            <div class="col-sm-4 col-sm-offset-4">
              <a class="btn-primary btn-lg btn-login btn-block btn-decoration" onclick="signin()">Sign In</a>
            </div>            
          </div>
        </div>
    </div>
</div>


